extends layout

block content
  h1 Register
  form(action="/register/login" method="POST")
    div
      label(for="name") Vorname
      input(type="name" id="name" name="name" required)
    div
      label(for="surname") Nachname
      input(type="surname" id="surname" name="surname" required)
    div
      label(for="password") Password
      input(type="password" id="password" name="password" required)
    button(type="submit") Register